__pycache__
Include
Lib
Scripts
Tesseract-OCR
*.ini
*.log
*.json
*.session
*.zip
lib64
bin
Cache
pyvenv.cfg
test.txt
until_1.session-journal
until_1.session
tools/__pycache__/google.cpython-311.pyc
logs.log
logpass.txt
